.functional__container{
    max-width: 1180px;
    padding: 0 15px;
}

.functional{
    background: $GrayColor;
    padding: 0px 0 40px 0;

    

    &__content{
        margin-top: -376px;
        &__title{
            margin: 6px 0 0 -4px;
        }

        &__text{
            background: linear-gradient(180deg, #1b1b1b 0%, rgba(27, 27, 27, 0) 100%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 1);
            width: 329px;
            height: 52px;
            border-radius: 20px;
            margin-top: 10px;

            &-text{
                font-size: 25px;
                font-style: italic;
                font-weight: 600;
                text-align: center;
                color: $YellowColor;
                padding: 15px 0 0 0px;
            }
        }
        
        &__list-wrapper{
            background: #161618;
            // position: absolute;
            position: relative;
            box-shadow: 0px 4px 28px 0px #00000085;
            width: 100%;
            height: 158px;
            left: 0;
            // top: 4175px;
            top: 305px;

            &:nth-child(3){
                top: 365px;
            }

            &:nth-child(2){
                top: 335px;
            }
        }


        .functional__list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: space-between;
            gap: 33px;
            // margin: -433px -60px 0 0;
            margin: 46px -60px 0 0;
            padding: 0 0 40px 0;

            &__item {
                position: relative;
                height: 158px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 20px;
                // width: 230px;

                img{
                    margin: 20px 0 0  0;
                }

                &-text{
                    font-size: 22px;
                    line-height: 26px;
                    width: 230px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 112px;
                    width: 1.105px;
                    margin-top: 25px;
                    margin-bottom: auto;
                    background: linear-gradient(
                      180deg,
                      rgba(255, 255, 255, 0) 0%,
                      rgba(255, 255, 255, 0.45) 52.28%,
                      rgba(255, 255, 255, 0) 100%
                    );

                }
                
            }
            .item__column-size-one{
                max-width: 275px;
            }

            .item__column-size-two{
                max-width: 387px;
            }

            .item__column-size-thre{
                max-width: 300px;
            }

            .item__column-size-four{
                max-width: 222px;
            }

            .functional__list__item:nth-child(4)::after {
                display: none;
            }
              
            .functional__list__item:nth-child(8)::after {
                display: none;
            }
              
            .functional__list__item:nth-child(12)::after {
                display: none;
            }
        }
    }
}

@media (max-width: 1199px) {
    .functional{
        &__content{
            &__list-wrapper{
                top: 305px;
    
                &:nth-child(3){
                    top: 378px;
                }
    
                &:nth-child(2){
                    top: 342px;
                }
            }

            .functional__list{
                grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
                
                gap: 33px 18px;
                margin: 46px auto 0;
                padding: 0 0 40px 0;

                &__item {

                    &-text{
                        font-size: 18px;
                        line-height: 21px;

                    }
                    
                }

            }
        }
    }
}
    
@media (max-width: 1024px){
    .functional{
        padding: 50px 0 40px 0;

        &__content{
            margin-top: 0px;

            &__title{
                font-size: 45px;

            }

            &__text{
                font-size: 16px;
            }

            &__list-wrapper{
                display: none;
            }

            .functional__list{
                
                grid-template-columns: 1fr 1fr;
                
                gap: 33px 18px;
                margin: 46px auto 0;
                padding: 0 20px 40px ;
                // width: 100%;

                &__item {
                    position: relative;
                    height: auto;
                    text-align: start;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-right: 0;
                    width: 50%;

                    img{
                        margin: 0px 8px 0  0;
                    }

                    &-text{
                        font-size: 13px;
                        line-height: 15px;
                        width: 100%;
                    }

                    &::after {
                        display: none;
    
                    }
                    
                }
            }
        }
    }
}

@media (max-width: 832px){
    .functional{
        padding: 50px 0 40px 0;

        &__content{
            margin-top: 0px;
            &__title{
                font-size: 45px;
            }

            &__text{
                width: 209px;
                height: 39px;

                &-text{
                    font-size: 16px;
                }
            }

            &__list-wrapper{
                display: none;
            }

            .functional__list{
                
                grid-template-columns: 1fr;
                gap: 23px 18px;
                margin: 46px auto 0;
                padding: 0 20px 40px ;
                width: 100%;

                &__item {
                    position: relative;
                    height: auto;
                    text-align: start;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-right: 0;
                    width: 100%;
                    img{
                        width: 16px;
                        height: 16px;
                        margin: 0px 8px 0  0;
                    }

                    &-text{
                        font-size: 13px;
                        line-height: 15px;
                        width: 100%;
                    }

                    &::after {
                        display: none;
    
                    }
                    
                }

                .functional__list__item:nth-child(2),
                .functional__list__item:nth-child(3),
                .functional__list__item:nth-child(6),
                .functional__list__item:nth-child(4),
                .functional__list__item:nth-child(5),
                .functional__list__item:nth-child(7),
                .functional__list__item:nth-child(9) {
                    // width: 380px;
                    width: 100%;
                   
                    .functional__list__item-text {
                        width: 100%;
                    }
                } 
                

            }
        }
    }
}
@media (max-width: 595px){

    .functional{
        padding: 50px 0 40px 0;

        &__content{
            margin-top: 0px;
            &__title{
                font-size: 36px;
            }
        }
    }

}

@media (max-width: 463px){

    .functional{
        padding: 50px 0 20px 0;

        &__content{
            margin-top: 0px;
            &__title{
                font-size: 32px;
            }
        }
    }

}

@media (max-width: 425px){
    .functional__container{
        padding: 0 30px;
    }
    .functional{
        &__content{
            padding: 0 0 0px 28px;

            &__title{
                font-size: 28px;
                margin: 6px 0 0 1px;
            }

            &__text{
                width: 209px;
                height: 39px;
                margin: 6px 0 0 -12px;

                &-text{
                    font-size: 15px;
                }
                
            }

            .functional__list{
                
                gap: 14px;
                margin: 29px 0 0 -18px;
                padding: 0 20px 40px ;
                width: 100%;

                &__item {

                    img{
                        width: 11px !important;
                        height: 11px !important;
                        margin: 0px 8px 0  0;
                    }

                    &-text{
                        font-size: 13px;
                        line-height: 15px;
                        width: 100%;
                    }

                    &::after {
                        display: none;
    
                    }
                    
                }
            }   
        }
    }
}
