.hero{

    &__content{
        margin: 55px 0 30px 0 ;
        
        &-title{
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 80px;
            line-height: 60px;
            color: $YellowColor;
            text-transform: uppercase;
            max-width: 1030px !important;
            margin: 0px 0 0  58px ;
            padding: 0 0 0 0px;
            text-align: center;
            span{
                font-family:  $fontFamilyBase;
                font-size: 60px;
                line-height: 70px;
                color: $BaseColor;
                
            }
        }

        &-text{
            // font-family: 'Orbitron';
            font-size: 30px;
            font-weight: 600;
            line-height: 35px;
            text-align: center;
            margin: 30px 0 0 0px;
        }

        &-trade{
            background: #1B1B1B;
            border-radius: 20px;
            width: 360px;
            height: 55px;
            margin: 30px auto 0;
            padding: 13px 0 0px 25px;

            span{
                font-size: 25px;
                font-weight: 500;
                line-height: 29px;
                text-align: center;
                align-items: center;
                
                color: $YellowColor;

            }
        }
        .content-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background: $YellowColor;
            border-radius: 30px;
            width: 370px;
            height: 97px;
            margin: 40px auto 0 ;
            
            span{
                
                font-size: 25px;
                font-weight: 700;
                line-height: 29px;
                text-align: center;
                text-transform: uppercase;
                color:  #000000;

            }
        }
        
        
        .next{
            display: flex;
            justify-content: center;

        }

        &-next{
            margin: 45px 0 0 0;
            
        }
    }
}