.product-for__container{
    padding: 0 25px;
}

.product-for{
    padding: 90px 0 0 0;
    &__content{

        // &-title{
        //     // font-family: $fontFamileSecond;
        //     // font-size: 75px;
        //     // font-weight: 700;
        //     // line-height: 94px;
        //     // text-align: left;
        //     // text-transform: uppercase;

        //     // span{
        //     //     background: $YellowColor;
        //     //     color: $Blackcolor;
        //     // }
        // }

        &__wrapper{
            display: flex;

            .content__wrapper__left,
            .content__wrapper__right{
                position: relative;
                z-index: 3;
                text-align: center;
                margin-top: 27px;
                img{
                    margin: 0 auto 0;
                }
                h3{
                    font-size: 35px;
                    font-weight: 600;
                    color: $YellowColor;
                    margin-top: 22px;
                }
                p{
                    max-width: 360px;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    margin: 29px auto;
                }
            }
        }
    }
}