.result{
    background: $GrayColor;
    margin: 235px 0 0 0;
    position: relative;
    
    .result__content{
        padding: 278px 0 136px 0;

        &__text{
            font-size: 26px;
            line-height: 44px;
            text-align: center;
            margin: 0 auto;
            padding: 5px 0 30px 0 ;
        }

        &__circles{
            position: absolute;
            top: 6%;
            left: 50%;
            transform: translate(-50%, -50%);

            .result__circle-wrapper{
                width: 358px;
                height: 358px;
                background: $GrayColor;
                border-radius: 50%;
                z-index: 1;
                position: relative;

                &::before{
                    content: "";
                    position: absolute;
                    width: 303px;
                    height: 303px;
                    top: 27px;
                    left: 27px;
                    border: 1px solid $YellowColor;
                    border-radius: 50%;
                    background-clip: padding-box;
                    z-index: 2;
                }

                &::after{
                    content: "";
                    position: absolute;
                    width: 569px;
                    height: 569px;
                    bottom: -48px;
                    left: -106px;
                    border: 4px solid rgba(235, 252, 86, 0.2);
                    border-radius: 50%;
                    border: 1.77px solid;


                    background-clip: padding-box;
                    z-index: -1;
                    clip-path: polygon( 0 55%, 100% 55% , 100% 100%, 0 100%);
                }

                .result__circle{
                    text-align: center;
                    padding: 128px 0 0 0;

                    &-text{
                        font-size: 26px;
                        font-style: italic;
                        line-height: 40px;
                        text-align: center;
                        color: #888888;

                    }

                    &-title{
                        font-size: 35px;
                        font-weight: 700;
                        line-height: 54px;
                        text-align: center;

                    }
                }

            }
        }

        .result__content-btn{
            margin: 0 auto;
        }
    }
    .result__repeated-word{
        white-space: nowrap;
        overflow: hidden;
        max-width: 122%;
        font-family: $fontFamileSecond;
        font-size: 5.25vw;
        font-weight: 500;
        line-height: 80%;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: -22%;
        z-index: 2;
        text-align: center;
        color: transparent;
        -webkit-text-stroke: 1px rgba(136, 136, 136, 0.52);  
        
    }
}



@media (max-width: 1024px){
	.result{
		margin: 235px 0 0 0;
		
		.result__content{
			padding: 278px 0 136px 0;
	
			&__text{
				font-size: 22px;
				line-height: 44px;
				margin: 0 auto;
				padding: 5px 0 30px 0 ;
			}
	
			&__circles{
				top: 6%;
				left: 50%;
	
				.result__circle-wrapper{
					width: 299px;
					height: 299px;
	
					&::before{
						width: 260px;
                        height: 260px;
                        top: 19px;
                        left: 17px;
					}
	
					&::after{
						width: 400px;
                        height: 400px;
                        bottom: -35px;
                        left: -57px;
					}
	
					.result__circle{
						text-align: center;
						padding: 90px 0 0 0;
	
						&-text{
							font-size: 22px;
							line-height: 40px;
	
						}
	
						&-title{
							font-size: 30px;
							line-height: 50px;
	
						}
					}
	
				}
			}
	
		}
		
	}
	
}

@media (max-width: 586px){
	.result{
		margin: 134px 0 0 0;
		
		.result__content{
			padding: 163px 0 44px 0;
	
			&__text{
				font-size: 12px;
				line-height: 13px;
				margin: 0 auto;
				padding: 5px 0 30px 0 ;

                max-width: 300px;
			}
	
			&__circles{
				top: 6%;
				left: 50%;
	
				.result__circle-wrapper{
					width: 177px;
					height: 177px;
	
					&::before{
						width: 149px;
                        height: 149px;
                        top: 34px;
                        left: 15px;
					}
	
					&::after{
						width: 252px;
                        height: 252px;
                        bottom: -29px;
                        left: -40px;
					}
	
					.result__circle{
						text-align: center;
						padding: 70px 0 0 0;
	
						&-text{
							font-size: 13px;
							line-height: 20px;
	
						}
	
						&-title{
							font-size: 16px;
							line-height: 24px;
	
						}
					}
	
				}
			}
	
		}
		.result__repeated-word{
            display: none;
        }
	}
	
}