.samurai__container{
    max-width: 1220px;
    padding:0 10px;
}

.samurai{
    margin:  97px 0 50px 0;
    
    &__content{
        display: flex;
        justify-content: space-between;
        

        .samurai__img{
            position: relative;
            margin: 8px 0 0px -194px;

            &-binance{
                position: absolute;
                right: 40px;
                top: 45px;
                
            }

            &-samurai{
                position: relative;
                
            }
            .samurai__content-next{
                display: flex;
                justify-content: end;
                margin: -40px -8px 0 0;
            }
        }
        
        &__right{
            display: flex;
            margin: 186px 0 0 29px;

            .samurai__list__colum{
                 
                .samurai__list__title{
                    font-family: $fontFamileSecond;
                    font-size: 90px;
                    font-weight: 700;
                    line-height: 112px;
                    // text-align: left;
                    text-transform: uppercase;
                    max-width: 415px;
                    margin: 7px 0 0 61px;
                }

                ul{
                    margin: 37px 30px 0 0px;
                    
                    li{
                        display: flex;
                        
                        padding:  0 0px 30px 0;

                        .samurai__item-left{
                            display: none;
                        }
                        
                        p{
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 23px;
                            text-align: right;
                            color: #C3C3C3;
                            margin:  0 30px 0 0;

                            span{
                                color: $BaseColor;
                                
                            }
                            
                        }

                        &:nth-child(2){
                            padding: 10px 0 25px 0;
                        }

                        &:nth-child(3){
                            padding: 10px 0 42px 0;
                        }
                    }

                    .list__item-xl{
                        width: 530px;
                        margin: 3px 0px -4px 15px;
                    }

                    .list__item-l{
                        width: 450px;
                        margin:  0 0px 0 95px;
                    }

                    .list__item-m{
                        width: 450px;
                        margin:  5px 0px 0 95px;
                    }
                }
            }
            
        }
    }
}



@media (max-width: 1440px){
    .samurai{
        &__content{

            .samurai__img{
                margin: 8px 0 0px -50px;
    
                &-binance{
                    right: 40px;
                    top: 55px;
                    width: 147px;
                    height: 151px;
                }
    
                &-samurai{
                    width: 625px;
                    height: 687px;
                }
                
            }

            &__right{
                margin: 75px 0 0 0px;
    
                .samurai__list__colum{
                     
                    .samurai__list__title{
                        font-size: 35px;
                        line-height: 43px;
                        max-width: 415px;
                        margin: 7px 0 0 61px;
                    }
    
                    ul{
                        margin: 37px 30px 0 0px;
                        
                        li{
                            padding:  0 0px 30px 0;
    
                            p{
                                font-size: 15px;
                                font-weight: 500;
                                line-height: 17px;
                                margin:  0 15px 0 0;

    
                                
                            }

                            // .samurai__item-right,{
                            //     width: 38px;
                            // }
    
                            &:nth-child(2){
                                padding: 10px 0 25px 0;
                            }
    
                            &:nth-child(3){
                                padding: 10px 0 42px 0;
                            }
                        }
    
                        .list__item-xl{
                            width: 460px !important;
                            margin: 3px 0px -4px 15px;
                        }
    
                        .list__item-l{
                            width: 380px !important;
                            margin:  0 0px 0 95px;
                        }
    
                        .list__item-m{
                            width: 380px !important;
                            margin:  5px 0px 0 95px;
                        }
                    }
                }
                
            }
        }
    }
}

@media (max-width: 1200px){
    .samurai{

        &__content{

            .samurai__img{
                margin: 8px 0 0px 10px;
    
                &-binance{
                    right: 20px;
                    top: 40px;
                    width: 120px;
                    height: 120px;
                }
    
                &-samurai{
                    width: 425px;
                    height: 487px;
                }
                .samurai__content-next{
                    display: flex;
                    justify-content: end;
                    margin: -40px 15px 0 0;
                }
            }

            &__right{
                display: flex;
                margin: 75px 0 0 0px;
    
                .samurai__list__colum{
                     
                    .samurai__list__title{
                        max-width: 415px;
                        margin: 7px 0 0 61px;
                    }
    
                    ul{
                        margin: 37px 30px 0 0px;
                        
                        li{
                            display: flex;
                            padding:  0 0px 30px 0;
    
                            p{
                                margin:  0 30px 0 0;
    
                                
                            }
    
                            &:nth-child(2){
                                padding: 10px 0 25px 0;
                            }
    
                            &:nth-child(3){
                                padding: 10px 0 42px 0;
                            }
                        }
    
                        .list__item-xl{
                            width: 530px;
                            margin: 3px 0px -4px 15px;
                        }
    
                        .list__item-l{
                            width: 450px;
                            margin:  0 0px 0 95px;
                        }
    
                        .list__item-m{
                            width: 450px;
                            margin:  5px 0px 0 95px;
                        }
                    }
                }
                
            }
        }
    }
}

@media (max-width: 1024px){
    .samurai{

        &__content{
            display: block;
            margin: 0 auto 20px;
            .samurai__img{
                margin: 8px 0 0px 10px;
                width: 430px;
                margin: 0 auto;
                &-binance{
                    right: 20px;
                    top: 40px;
                    width: 120px;
                    height: 120px;
                }
    
                &-samurai{
                    width: 425px;
                    height: 487px;
                }
                .samurai__content-next{
                    display: flex;
                    justify-content: end;
                    margin: -40px 15px 0 0;
                }
            }

            &__right{
                display: flex;
                margin: 75px 0 0 0px;
                width: 505px;
                margin: 0 auto;
                .samurai__list__colum{
                     
                    .samurai__list__title{
                        max-width: 415px;
                        margin: 7px 0 0 61px;
                    }
    
                    ul{
                        margin: 37px 30px 0 0px;
                        
                        li{
                            display: flex;
                            padding:  0 0px 30px 0;
    
                            p{
                                margin:  0 30px 0 0;
    
                                
                            }
    
                            &:nth-child(2){
                                padding: 10px 0 25px 0;
                            }
    
                            &:nth-child(3){
                                padding: 10px 0 42px 0;
                            }
                        }
    
                        .list__item-xl{
                            width: 530px;
                            margin: 3px 0px -4px 15px;
                        }
    
                        .list__item-l{
                            width: 450px;
                            margin:  0 0px 0 95px;
                        }
    
                        .list__item-m{
                            width: 450px;
                            margin:  5px 0px 0 95px;
                        }
                    }
                }
                
            }
        }
    }
}

@media (max-width: 768px){
    .samurai{

        &__content{
            display: block;
            
            .samurai__img{
                
                width: 360px;
                margin: -10px auto 40px ;
                &-binance{
                    right: 50px;
                    top: -3px;
                    width: 122px;
                    height: 122px;
                }
    
                &-samurai{
                    width: 300px;
                    height: 343px;
                }
                .samurai__content-next{
                    display: flex;
                    justify-content: end;
                    margin: -40px 15px 0 0;
                    
                }
            }

            &__right{
                display: flex;
                margin: 0px 0 0 0px;
                width: 505px;
                margin: 0 auto;
                .samurai__list__colum{
                     
                    .samurai__list__title{
                        max-width: 415px;
                        margin: 7px 0 0 50px;
                    }
    
                    ul{
                        margin: 17px 30px 0 0px;
                        
                        li{
                            display: flex;
                            justify-content: start;
                            padding:  5px 0px 10px 0;
    
                            p{
                                margin:  0 0px 0 10px;
                                text-align: left;
                                
                            }
                            
                            .samurai__item-left{
                                display: block;
                            }

                            .samurai__item-right{
                                display: none;
                            }

                            &:nth-child(2){
                                padding: 13px 0 12px 0px;
                            }
    
                            &:nth-child(3){
                                padding: 10px 0 12px 0;
                            }
                        }
    
                        .list__item-xl{
                            width: 390px !important;
                            margin: 3px 0px -4px 15px;
                        }
    
                        .list__item-l{
                            width: 350px !important;
                            margin:  0px 0px 0 18px;
                        }
    
                        .list__item-m{
                            width: 350px !important;
                            margin:  5px 0px 0 15px;
                        }
                    }
                }
                
            }
        }
    }
}

@media (max-width: 525px){
    .samurai{

        &__content{
            padding: 5px 0 0 0;
            .samurai__img{
                
                width: 360px;
                margin: -10px 0 40px 32px;
                &-binance{
                    right: 50px;
                    top: -3px;
                    width: 122px;
                    height: 122px;
                }
    
                &-samurai{
                    width: 300px;
                    height: 343px;
                }
                .samurai__content-next{
                    display: none;
                    
                    
                }
            }
            
        }
    }   
}     