.working__container{
    
    max-width: 1255px;
    padding:0 15px;

}

.working {
    padding: 85px 0 150px;
    
    

    &__title {
        
        margin:  0 0px 130px 34px;

        span{
            letter-spacing: -2px;
        }
    }

    .vertical-line{
        border: 1px solid #FFFFFFA1;
        width: 1920px;
        margin:  0px 0 0px -30%;
    }
    &__list {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1260px;
        margin: 0 auto;
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 230px;
        text-align: center;
        cursor: pointer;
        margin: 0 0 45px -15px;

        &:nth-child(3) &-text {
            font-size: 22px;
        }

        &-box {
            position: relative;
            // left: 80px;
            margin: 0 auto -10px;
            top: -24px;
            width: 32px ;
            height: 32px;
            // background: $BaseColor;  
            visibility: hidden;
            
            &-active {
                // background: $YellowColor;
                visibility: visible;
            }
        } 
        // &-box:nth-child(2){
            
        // }
        &-number {
            
            color: rgba(255, 255, 255, .3);
            font-size: 75px;
            font-family: $fontFamileSecond;
            font-weight: 700;
            // margin: -14px 0 15px 18px;
            margin:0px 0 15px 0px;
            width: 150px;
            margin: 0 auto 10px;
            &-active {
                color: $YellowColor;
            }

            
        }
        
        &-text {
            line-height: 25px;
            font-size: 25px;
            color: #c3c3c3;
            visibility: hidden;
            margin: 0px 0 0 -10px ;
            max-width: 320px;
            span {
                color: $BaseColor;
            }

            &-active {
                visibility: visible;
            }
            
    
        }
        

        &-text:nth-child(3){
            margin: 10px 0 0 0;
        }

        &:nth-child(2){
            max-width: 230px;
            margin: 0 15px;

        }
        

        &:nth-child(3){
            max-width: 315px;
            margin: 0 0 0 -25px;
        }

        &:nth-child(4){
            margin: 0 23px 0 -8px;

        }
    }
    .working__content-next{
        margin:  45px 0 0 0;
    }

    .working__repeated-word{
        white-space: nowrap;
        overflow: hidden;
        max-width: 122%;
        font-family: $fontFamileSecond;
        font-size: 5.25vw;
        font-weight: 500;
        line-height: 80%;
        text-transform: uppercase;
        position: absolute;
        // bottom: -1100;

        left: -22%;
        z-index: 2;
        text-align: center;
        color: transparent;
        -webkit-text-stroke: 1px rgba(136, 136, 136, 0.52);  
        transform: rotate(-3.87deg);
        background: #171717;
        margin: 40px 0 0 0;
        padding: 0 0 123px 0;
    }
}

@media (max-width: 1300px){
    .working {
        padding: 85px 0 160px;

        &__title {
            margin:  0 0px 130px 21px;

        }
    
        .vertical-line{
            border: 1px solid #FFFFFFA1;
            width: 1920px;
            margin:  0px 0 0px -30%;

        }

        &__list {
            flex-wrap: wrap;
            width: 1160px;
            margin: 0 auto;
            
        }
    
        &__item {
            max-width: 205px;
            margin: 0 auto 0px ;
    
            &:nth-child(3) &-text {
                font-size: 22px;
            }
    
            &-box {
                position: relative;
                // left: 80px;
                margin: 0 auto -10px;
                top: -24px;
                width: 32px ;
                height: 32px;
            } 

            &-number {
                font-size: 65px;
                margin:0px 0 15px 0px;
                width: 100px;
                margin: 0 auto 10px;

            }
            
            &-text {
                margin: 0px 0 0 -10px ;
                max-width: 200px;
                span {
                    color: $BaseColor;
                }
    
                &-active {
                    visibility: visible;
                }
                
        
            }
            
    
            &-text:nth-child(3){
                margin: 10px 0 0 0;
            }
    
            &:nth-child(2){
                max-width: 232px;
                margin: 0 15px;
    
            }
            
    
            &:nth-child(3){
                max-width: 250px;
                margin: 0 0 0 -25px;
            }
    
            &:nth-child(4){
                margin: 0 23px 0 -8px;
    
            }
        }
        .working__content-next{
            margin:  0px 0 0 0;
        }
    }
    
}

@media (max-width: 1100px){
    .working {
        background-size: contain;
        padding: 140px 0 140px;
        
        
    
        &__title {
            margin:  0 0px 40px 50px;
            
        }
    
        .vertical-line{
            position: absolute;
            border: 1px solid #FFFFFFA1;
            width: 0px;
            height: 549px;
            margin:  0px 0 0px 45px;
        }
        &__list {
            display: block;
            margin: 0px auto 0;
            
        }
    
        &__item {
            display: flex;
            flex-direction: row;
            max-width: 275px;
            text-align: center;
            margin: -6px 0 20px 50px;
    
            &:nth-child(3) &-text {
                font-size: 22px;
            }
    
            &-box {
                position: relative;
                // left: 80px;
                margin: 23px 0px 0 -18px;
                top: 15px;
                
                img{
                    width: 19px !important;
                    height: 19px;
                }
            } 

            &-number {
                
                color: rgba(255, 255, 255, .3);
                font-size: 60px;
                line-height: 75px;
                width: 50px;
                margin: 0 30px 0 10px;
                
            }
            
            &-text {
                line-height: 17px;
                font-size: 15px;
                margin: 0px 0 0 0px ;
                max-width: 320px;
                text-align: start;
                align-items: end;
                padding: 24px 0 0 0;
            }
            
    
            &-text:nth-child(3){
                margin: 0px 0 0 0;
            }
            
           

            &:nth-child(2){
                max-width: 232px;
                margin: 35px 0px 0 55px ;
    
            }
            
    
            &:nth-child(3){
                max-width: 360px;
                margin: 38px 0 0 56px;
                
            }
    
            &:nth-child(4){
                margin: -10px 0px 0 55px;
    
            }
            &:nth-child(5){
                margin: 30px 0px 0 55px;
    
            }
        }
        .working__content-next{
            margin:  45px 0 0 0;
        }

        .working__repeated-word{
            margin: 127px 0 0 0;
            padding: 0 0 30px 0;
        }

    }
    
}

