
.container{
    margin: 0 auto;
    max-width: 1220px;
    padding:0 10px;

    
}

.working {
    background-image: url(../images/working-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 85px 0 160px;
    
    

    &__title {
        
        margin:  0 0px 130px 21px;
    }

    .vertical-line{
        border: 1px solid #FFFFFFA1;
        width: 1920px;
        margin:  0px 0 0px -30%;
    }
    &__list {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        width: 1260px;
        margin: 0 auto;
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 232px;
        text-align: center;
        cursor: pointer;
        margin: 0 0 45px -15px;

        &:nth-child(3) &-text {
            font-size: 22px;
        }

        &-box {
            position: relative;
            // left: 80px;
            margin: 0 auto -10px;
            top: -24px;
            width: 32px ;
            height: 32px;
            background: $BaseColor;  
            visibility: hidden;
            
            &-active {
                background: $YellowColor;
                visibility: visible;
            }
        } 
        // &-box:nth-child(2){
            
        // }
        &-number {
            
            color: rgba(255, 255, 255, .3);
            font-size: 75px;
            font-family: $fontFamileSecond;
            font-weight: 700;
            // margin: -14px 0 15px 18px;
            margin:0px 0 15px 0px;
            width: 150px;
            margin: 0 auto 10px;
            &-active {
                color: $YellowColor;
            }

            
        }
        
        &-text {
            line-height: 25px;
            font-size: 25px;
            color: #c3c3c3;
            visibility: hidden;
            margin: 0px 0 0 -10px ;
            max-width: 320px;
            span {
                color: $BaseColor;
            }

            &-active {
                visibility: visible;
            }
            
    
        }
        

        &-text:nth-child(3){
            margin: 10px 0 0 0;
        }

        &:nth-child(2){
            max-width: 232px;
            margin: 0 15px;

        }
        

        &:nth-child(3){
            max-width: 318px;
            margin: 0 0 0 -25px;
        }

        &:nth-child(4){
            margin: 0 23px 0 -8px;

        }
    }
    .working__content-next{
        margin:  45px 0 0 0;
    }
}

