.next{
    display: flex;
    justify-content: center;

}

.registration-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $YellowColor;
    border-radius: 30px;
    width: 370px;
    height: 97px;
    
    span{
                
        font-size: 25px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color:  #000000;

    }

}

.title {
    font-size: 75px;
    font-weight: 700;
    line-height: 94px;
    color: $BaseColor;
    
    span {
        // font-family: $fontFamileSecond;
        color: $Blackcolor;
        background-color: $YellowColor;
        // padding: 0 20px;
        padding: 5px 25px 5px 17px;
        margin-left: -13px;
    }
}



@media (max-width: 1024px){

}
@media (max-width: 768px){
    .registration-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $YellowColor;
        border-radius: 30px;
        width: 243px;
        height: 64px;
        
        span{
                    
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            color:  #000000;
    
        }
    
    }

    .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        color: $BaseColor;
        
        span {
            // font-family: $fontFamileSecond;
            color: $Blackcolor;
            background-color: $YellowColor;
            // padding: 0 20px;
            padding: 0px 5px 0px 10px;
            margin-left: -5px;
        }
    }
}


@media (max-width: 525px){
    .next{
        display: none;
    }
}