@charset "UTF-8";
@font-face {
  font-family: "Orbitron";
  font-display: swap;
  src: url("../fonts/Orbitron-Bold.woff2") format("woff2"), url("../fonts/Orbitron-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  font-display: swap;
  src: url("../fonts/Orbitron-Medium.woff2") format("woff2"), url("../fonts/Orbitron-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #F9FAFF;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button, a {
  cursor: pointer;
  transition: all 0.2s;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  background: #0C0B0E;
}

.container-380 {
  margin: 0 auto;
  max-width: 1160px;
}

.container-340 {
  margin: 0 auto;
  max-width: 1240px;
}

.header {
  display: flex;
  margin: 0 0 30px 0;
  padding: 20px 0 0 0px;
  transition: 0.5s;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  margin: 0 0 0 25px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: center;
  padding: 0 0 0 77px;
}
.header__content nav .nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__content nav .nav li a {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
}
.header__content nav .nav li a:hover {
  color: #EAFC52;
}
.header__content nav .nav li:nth-child(2) {
  margin: 0 80px;
}
.header__content nav .nav li:nth-child(4) {
  margin: 0 0px 0 80px;
}
.header__content-link {
  padding: 0 40px 12px 0;
}
.header__content-link a {
  position: relative;
  border-radius: 20px;
  border: 2px solid #EAFC52;
  padding: 11px 46px 12px 45px;
}
.header__content-link a span {
  position: relative;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  color: #EAFC52;
}
.header__content-link a span:hover {
  color: #FFFFFF;
}
.header .burger {
  display: none;
  cursor: pointer;
}
.header .burger .humb {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #EAFC52;
  margin: 6px 0px;
  transition: 0.3s;
}
.header .burger.active .humb:nth-child(2) {
  opacity: 0;
}
.header .burger.active .humb:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header .burger.active .humb:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1200px) {
  .header__logo {
    margin: 0 0 0 15px;
  }
  .header__content {
    padding: 0 0 0 40px;
  }
  .header__content nav .nav li:nth-child(2) {
    margin: 0 40px;
  }
  .header__content nav .nav li:nth-child(4) {
    margin: 0 0px 0 40px;
  }
}
@media (max-width: 1024px) {
  .header {
    flex-basis: 100%;
    justify-content: space-between;
  }
  .header__content {
    position: absolute;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    top: 75px;
    width: 100%;
    height: 100vh;
    left: -100%;
    margin: 0;
    transition: 0.3s;
    padding: 0;
  }
  .header__content nav .nav {
    flex-direction: column;
  }
  .header__content nav .nav li {
    margin: 20px auto;
  }
  .header__content nav .nav li a:hover {
    color: #EAFC52;
  }
  .header__content nav .nav li:nth-child(2) {
    margin: 0 0px;
  }
  .header__content nav .nav li:nth-child(4) {
    margin: 0 0px 0 0px;
  }
  .header__content-link {
    flex-direction: column;
    padding-top: 60px;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
  .header__content.active {
    left: 0;
    background-position: top center;
    background-size: cover;
    transition: 0.3s;
    z-index: 60;
    background: #0C0B0E;
    margin: 30px 0 0 0;
  }
  .header .burger {
    display: block;
    margin: 0 20px 0 0;
  }
}
@media (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    height: 110px;
  }
  .header__logo {
    margin: 5px 0 0 26px;
  }
  .header__logo a img {
    width: 70px;
    height: 70px;
  }
  .header__content nav .nav li {
    margin: 20px auto;
  }
  .header__content nav .nav li a:hover {
    color: #EAFC52;
  }
  .header__content nav .nav li:nth-child(2) {
    margin: 0 0px;
  }
  .header__content nav .nav li:nth-child(4) {
    margin: 0 0px 0 0px;
  }
  .header__content-link {
    flex-direction: column;
    padding-top: 60px;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
  .header__content.active {
    left: 0;
    background-position: top center;
    background-size: cover;
    transition: 0.3s;
    z-index: 60;
    background: #0C0B0E;
    margin: 0px 0 0 0;
  }
  .header .burger {
    display: block;
    margin: 0 20px 0 0;
  }
}
@media (max-width: 568px) {
  .header {
    display: flex;
    align-items: center;
    height: 61px;
    padding: 10px 0 0 25px;
  }
  .header__logo {
    margin: 5px 0 0 26px;
  }
  .header__logo a img {
    width: 50px;
    height: 50px;
  }
  .header .burger {
    margin: 10px 60px 0 0;
  }
  .header .burger .humb {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px 0px;
    transition: 0.3s;
  }
}
.hero__content {
  margin: 55px 0 30px 0;
}
.hero__content-title {
  font-family: "Orbitron";
  font-weight: 700;
  font-size: 80px;
  line-height: 60px;
  color: #EAFC52;
  text-transform: uppercase;
  max-width: 1030px !important;
  margin: 0px 0 0 58px;
  padding: 0 0 0 0px;
  text-align: center;
}
.hero__content-title span {
  font-family: "Raleway";
  font-size: 60px;
  line-height: 70px;
  color: #FFFFFF;
}
.hero__content-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  margin: 30px 0 0 0px;
}
.hero__content-trade {
  background: #1B1B1B;
  border-radius: 20px;
  width: 360px;
  height: 55px;
  margin: 30px auto 0;
  padding: 13px 0 0px 25px;
}
.hero__content-trade span {
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  align-items: center;
  color: #EAFC52;
}
.hero__content .content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAFC52;
  border-radius: 30px;
  width: 370px;
  height: 97px;
  margin: 40px auto 0;
}
.hero__content .content-btn span {
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.hero__content .next {
  display: flex;
  justify-content: center;
}
.hero__content-next {
  margin: 45px 0 0 0;
}

.trading {
  margin: 132px 0 0 5px;
}
.trading__content__title {
  display: flex;
  justify-content: start;
  align-items: center;
}
.trading__content__title h2 {
  font-family: "Orbitron";
  font-size: 75px;
  font-weight: 700;
  line-height: 94px;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
}
.trading__content__title .content__title__text {
  display: flex;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 0 0 0 40px;
}
.trading__content__title .content__title__text span {
  padding: 11px 25px 10px 22px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.trading__content__body {
  display: flex;
}
.trading__content__body-left-text {
  font-family: "Orbitron";
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  color: #FFFFFF;
}
.trading__content__body-right-text {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
}